<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title> Revision Tracker </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body> 
        <nav>
        <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('view') }}">View Sessions</a></li>
        <li><a href="{{ url_for('run') }}">Run Sessions</a></li>
        </ul>
        </nav>


        <h1>Revision Tracker</h1>
        <h2>Plan, Track and Run Your Revision Sessions</h2>


        <h3>Weekly Stats</h3>
        <div id="weekly_chart">
        {{ chart | safe }}
        </div>


        <aside>
            <h3>Keep track of your revision, stay consistent</h3>
            <section id="overdue_list">
                <h4>Overdue Sessions</h4>
                {% if overdue %}
                <ul>
                    {% for session in overdue %}
                    <li>{{ session[0] }} — Planned for {{ session[1] }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>You have no overdue sessions</p>
                {% endif %}
            </section>

        </aside>    


                {% if overdue %}
        <dialog id="overdue_dialog" class="model" open>      
            {% for session in overdue %}
            <span class="dialog_text">
            {{ session[0] }} — Planned for {{ session[1] }}</span><br>
            {% endfor %}
            <form method="dialog">
                <button id="dialog_button">Close</button>
            </form>
        </dialog>
        {% endif %}


            <footer>
                <p> Created using Python, Flask, HTML, CSS & JavaScript</p>
                <p>Created by Alexia MacKenzie</p>
            </footer>
        
    </body>

    