<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title> Revision Tracker </title>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
    </head>
    <body> 
        <nav>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('view') }}">View Sessions</a></li>
        <li><a href="{{ url_for('run') }}">Run Sessions</a></li>
        </nav>
        <h1>Revision Tracker</h1>
        <h2>Plan, Track and Run Your Revision Sessions</h2>

        <h3>Weekly Stats</h3>
        {{ chart | safe }}

        <p>You currently have no weekly Stats</p>

        <h3>Keep track of your revision, stay consistent</h3>

        <footer>
            <p> Created using python, flask, HTML & CSS</p>
            <p>Created by Alexia MacKenzie</p>
        </footer>
        
    </body>

    