<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title> Revision Tracker </title>
        <link rel="stylesheet" type="text/css" href="styles.css"/>

    </head>
    <body> 

        <nav>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('view') }}">View Sessions</a></li>
        <li><a href="{{ url_for('run') }}">Run Sessions</a></li>
        </nav>

        <h3>Focus Timer</h3>


                    
            <form id="start_form" action="{{ url_for('start_session') }}" method="post" style="display:inline;">
                <label for="duration">Planned Duration (minutes):</label>
                <input type="number" name="duration" id="duration" min="1" required>

                <label for="topic">Topic:</label>
                <input type="text" name="topic" id="topic" placeholder="e.g., Math Chapter 1">

                <button type="submit">Start Session</button>
            </form>

            <form id="end_form" action="{{ url_for('end_session') }}" method="post" style="display:inline;">
                <button type="submit">Finish Session</button>
            </form>

            <label>Session Progress:</label>
            <progress id="session_bar" value="0" max="1"></progress>
            <span id="progress_text">0%</span>
    <script>
        const PROGRESS_URL = "{{ url_for('current_duration') }}";
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>
